.main {
    width: 90%;
    background-color: white;
    margin: auto;
}
.center {
    width: 100%;
    height: 100px;
    text-align: center;
     
 }
.arama {
    background-color: #EEEEEE;
    width: 100%;
    height: 62px;
    text-align: center;
}

#fbox {
    text-align: center;
    background-color: #7EE5DA;
    width: 37%;
    margin: 2px;
    border: 0px;
    float: left;    
    padding-top: 12px;  
    font-size: medium;
    padding-bottom: 12px;
}
#secbox {
    background-color: #70CCC2;
    text-align: center;
    margin: 2px 2px 0px 0px;
    font-size: 13px;
    width: 20%;
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;

}

#thibox {
    background-color: #62B3AA;
    text-align: center;
    float: left;
    width: 42.6%;
    margin-top: 2px;
    
}
#footer {
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    
    
}
